:root {
    --azurekino: azure;
    --richBlackForeground: #272729;
    --whiteb: #f8f8f8;
    --black: #222;
    --msuGreen: #2D4739;
    --gray: #eee;
    --buttonColor: rgba(234,73,73,1);
    --snowWhite: #fffafa;
    --cabecalho: rgb(5, 52, 194);
    --trueBlack: #000;
    --deepBlue: #12138e;
    --buttonColorDark: rgba(148,7,7,1);
    --buttonHoverLight: rgb(233, 140, 140);
    --buttonHoverDark: rgb(255, 11, 11);
    --conteudoPaginaLight: white;
    --conteudoPaginaDark: #ffffff26;
    --normalBlueTable: rgb(5,52,194,1);
    --kinoDeepBlue: rgb(9,42,142,1);
    --corLabelLight: blue;
    --corLabelDark:white;
    --corTdLight: rgb(225, 248, 248);
    --corTdDark: rgba(144,206,206,1);
  }


body{
    background: var(--navBG);

}


.logo {
    width: 60%;
    margin: auto;
    padding: 4x;
    font-size: 28px;
    text-align: center;
}

label{
    display: block;
}

fieldset{
    border:0;
}

input{
    width: 100%;
    margin: 12px;
    padding: 6px;
    border-radius: 8px;
    box-sizing: border-box;
}

.fontelogo {
    font-size: 25px;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--fonteLogo);
}

.imc{ 
    
    font-size: 25px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(255, 103, 103);

}

.cabecalho {
    background-color:var(--header);
    color:var(--fonteLogo);
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    position: relative;
    /*border-bottom: 2px solid #ccc; */
}

*{
    padding: 0;
    margin: 0;
    transition: background-color 0.8s ease, color 1s ease;
}

.me {
    font-size: 20px;
    position: absolute;
    top: 35%;
    right: 90%;
    color: var(--fonteLogo);
    
    
}

.conteudodapagina{
    width: 70%;
    margin: 10px auto;
    padding: 20px;
    background-color: var(--contentBG);
    box-shadow: 1px 2px 8px;
}



.cadastro{
    margin: 20px;

}

.conteudo{
    display: flex;
    width: 100%;
}

.nome{
    width: 40%;
}

.peso{
    margin-right: 0px;
    width: 20%;
}

.altura{
    width: 20%;
}

.status{
    width: 50%;
}

label{
    font-weight: bold;
    font-size: 18px;
    color: var(--corLabel);
}

button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: snow;
    background-color: var(--botaoCor);
    border-radius: 20px;
    width: 140px;
    height: 60px;
    font-weight: bold;
}

 #night-theme{
    top: 0.5%;
    left :80%;
    position: absolute;
    width: 5%;
    background-color: var(--botaoCor);
}

#night-theme:hover{
    background-color: rgb(233, 140, 140);
}


button:hover{
    background-color: rgb(233, 140, 140);
}

table {
    width: 100%;
}

th{background-color: var(--tableHead);
    text-align: left;
    color: snow;
}

.tabela_informacoes th, td{
padding: 10px;
border: 1px solid #ccc

}

td{
    background-color: var(--corTd);
    text-align: left;
}


tr{
    padding: 15px;;
    border: 1px solid #ccc
}

#clear_table{
    position: absolute;
    left: 74%;
    border-radius: 100%;
    
}

h2{
    color: var(--hs);
}

.light-theme{
    --navBG: var(--azurekino);
    --contentBG: var(--conteudoPaginaLight);
    --fontColor: var(--black);
    --botaoCor: var(--buttonColor);
    --fonteLogo: var(--snowWhite);
    --header: var(--cabecalho);
    --botaoHoverLuz: var(--buttonHoverLight);
    --hs: var(--black);
    --tableHead: var(--normalBlueTable);
    --corLabel: var(--corLabelLight);
    --corTd: var(--corTdLight);
}

.dark-theme{
    --navBG: var(--richBlackForeground);
    --contentBG: var(--conteudoPaginaDark);
    --fontColor: var(--black);
    --botaoCor: var(--buttonColorDark);
    --fonteLogo: var(--snowWhite);
    --header: var(--deepBlue);
    --botaoHoverLuz: var(--buttonHoverDark);
    --hs: var(--snowWhite);
    --tableHead: var(--kinoDeepBlue);
    --corLabel: var(--corLabelDark);
    --corTd: var(--corTdDark);
}