body{
    background-color: azure;
}



.logo {
    width: 60%;
    margin: auto;
    padding: 4x;
    font-size: 28px;
    text-align: center;
}

label{
    display: block;
}

fieldset{
    border:0;
}

input{
    width: 100%;
    margin: 12px;
    padding: 6px;
    border-radius: 8px;
    box-sizing: border-box;
}

.fontelogo {
    font-size: 25px;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: snow;
}

.imc{ 
    
    font-size: 25px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(255, 103, 103);

}

.cabecalho {
    background-color: rgb(5, 52, 194);
    color:silver;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 2px solid #ccc;
}

*{
    padding: 0;
    margin: 0;
}

.me {
    font-size: 20px;
    position: absolute;
    top: 35%;
    right: 90%;
    color: snow;
}

.conteudodapagina{
    width: 70%;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 2px 8px;
}

.conteudodapaginadark{
    
    background-color: black;
    

}

.cadastro{
    margin: 20px;

}

.conteudo{
    display: flex;
    width: 100%;
}

.nome{
    width: 40%;
}

.peso{
    margin-right: 0px;
    width: 20%;
}

.altura{
    width: 20%;
}

.status{
    width: 50%;
}

label{
    font-weight: bold;
    font-size: 18px;
    color: blue;
}

button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: snow;
    background-color:rgba(234,73,73,1);
    border-radius: 20px;
    width: 140px;
    height: 60px;
    font-weight: bold;
}



button:hover{
    background-color: rgb(233, 140, 140);
}

table {
    width: 100%;
}

th{background-color: rgb(5,52,194,1);
    text-align: left;
    color: snow;
}

.tabela_informacoes th, td{
padding: 10px;
border: 1px solid #ccc

}

td{
    background-color: rgb(225, 248, 248);
    text-align: left;
}


tr{
    padding: 15px;;
    border: 1px solid #ccc
}

#clear_table{
    position: absolute;
    left: 74%;
    border-radius: 100%;
    
}

.darkmodetoggle{

    font-size: 15px;
    position: absolute;
    top: 10%;
    left: 90%;
    

}